.navigation {
    height: 80px;
    background: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
    color: antiquewhite;
}

.navigation a {
    text-decoration: none;
    color: white;
    margin-left: 36px;
    font-size: 17px;
}

.navigation a:hover {
    color: orangered;
}

.log-out-btn {
    margin-left: 15px;
    padding: 10px;
    background-color: #2d23ec;
    color: white;
    border: none;
    font-size: 16px;
    border: 1px solid #5092be;
}